/* To add the variables*/
$margin-top-6: 6.111rem;
$height: 32rem;
$primary: #fafafa;
$fonts: normal normal 600 1.438rem/1.938rem Nunito Sans;



/* To set Responsive web design */

$laptop: 1200px; //col-lg
$tablet: 780px; //col-md   
$phone: 576px; //col-sm 
$desktop: 1400px; //col-xl


